layout {
    tab name="terminal" focus=true {
        pane focus=true
        pane size="30%"
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
    }
    tab name="app" {
        pane split_direction="vertical" {
            pane name="web/rescript" command="zsh" start_suspended=true {
                args "-c" "cli rescript watch"
            }
            pane split_direction="horizontal" {
                pane name="web/platform/next" command="zsh" start_suspended=true {
                    args "-c" "cli web platform next develop"
                }
                pane name="web/sites/next" command="zsh" start_suspended=true {
                    args "-c" "cli web sites next develop"
                }
            }
        }
        pane split_direction="vertical" {
            pane name="core/server" command="zsh" start_suspended=true {
                args "-c" "cli core develop core-server"
            }
            pane name="core/dns-verifier" command="zsh" start_suspended=true {
                args "-c" "cli core develop dns-verifier"
            }
            pane name="lambda/image-uploader" command="zsh" start_suspended=true {
                args "-c" "cli lambda watch"
            }
        }
        pane size="15%" split_direction="vertical" {
            pane name="integrations/obsidian" command="zsh" start_suspended=true {
                args "-c" "cli obsidian develop"
            }
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
    }
    tab name="sidecars" {
        pane split_direction="horizontal" {
            pane split_direction="vertical" {
                pane name="docker/proxy" command="zsh" start_suspended=true {
                    args "-c" "cli docker-compose proxy up"
                }
                pane name="docker/dev-services" command="zsh" start_suspended=true {
                    args "-c" "cli docker-compose dev up"
                }
            }
            pane name="service-proxy" size="20%" command="zsh" start_suspended=true {
                args "-c" "cli service-proxy run"
            }
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
    }
}
